Models/NC1Components/Objet/NC1_GroundParticipant.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:fra:nc1:objet:groundparticipant" xmlns:nc1ihm="urn:fra:nc1:IHM" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nc1groundparticipant="urn:fra:nc1:objet:groundparticipant" xmlns:nc1common="urn:fra:nc1:common:attribute" xmlns:nc1com="urn:fra:nc1:common:communication" xmlns:nc1location="urn:fra:nc1:common:location" xmlns:nc1logistics="urn:fra:nc1:common:logistics" xmlns:nc1sicsdicos="urn:fra:nc1:common:sicsdicos" xmlns:nc1participant="urn:fra:nc1:objet:participant">
  <!-- NC1 V.9.0.0 -->
  <xs:import namespace="urn:fra:nc1:common:attribute" schemaLocation="../Commun/Common.xsd" />
  <xs:import namespace="urn:fra:nc1:common:communication" schemaLocation="../Commun/Communication.xsd" />
  <xs:import namespace="urn:fra:nc1:common:location" schemaLocation="../Commun/Location.xsd" />
  <xs:import namespace="urn:fra:nc1:common:logistics" schemaLocation="../Commun/Logistics.xsd" />
  <xs:import namespace="urn:fra:nc1:common:sicsdicos" schemaLocation="../Commun/SICS_Dictionaries.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:participant" schemaLocation="../Commun/Participant.xsd" />
  <xs:element name="NC1_GroundParticipant" type="nc1groundparticipant:GroundParticipantType">
    <xs:annotation>
      <xs:documentation>L’objet NC1_Participant terrestre correspond à toute entité terrestre équipée d’un SIOC avec lequel elle peut créer et échanger des objets NC1.</xs:documentation>
      <xs:documentation xml:lang="en">The land NC1_Participant object corresponds to any land entity equipped with a NC1-capable C2 system.</xs:documentation>
      <xs:appinfo>
        <nc1:type xmlns:nc1="urn:fra:nc1">Objet</nc1:type>
        <nc1ihm:Nom>Participant terrestre</nc1ihm:Nom>
        <nc1ihm:Nom xml:lang="en">Ground participant</nc1ihm:Nom>
        <nc1:MessH xmlns:nc1="urn:fra:nc1">Message H2.5 Lstatus</nc1:MessH>
        <nc1:MessADatP3 xmlns:nc1="urn:fra:nc1">N/A</nc1:MessADatP3>
        <nc1:LastNC1ModifyVersion xmlns:nc1="urn:fra:nc1">9.0.0</nc1:LastNC1ModifyVersion>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GroundParticipantType">
    <xs:annotation>
      <xs:documentation>L’objet NC1_Participant terrestre correspond à toute entité terrestre équipée d’un SIOC avec lequel elle peut créer et échanger des objets NC1.</xs:documentation>
      <xs:documentation xml:lang="en">The land NC1_Participant object corresponds to any land entity equipped with a NC1-capable C2 system.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc1participant:ParticipantType">
        <xs:sequence>
          <xs:element minOccurs="0" name="tacticalData" type="nc1participant:TacticalDataType">
            <xs:annotation>
              <xs:documentation>Données tactiques.</xs:documentation>
              <xs:documentation xml:lang="en">tactical datas.</xs:documentation>
              <xs:appinfo>
                <nc1ihm:Nom>Données tactiques</nc1ihm:Nom>
                <nc1ihm:Nom xml:lang="en">tactical datas</nc1ihm:Nom>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="specificData">
            <xs:annotation>
              <xs:documentation>Données spécifiques à un participant terrestre.</xs:documentation>
              <xs:documentation xml:lang="en">Land participant specific data.</xs:documentation>
              <xs:appinfo>
                <nc1ihm:Nom>Données spécifiques</nc1ihm:Nom>
                <nc1ihm:Nom xml:lang="en">Specific data</nc1ihm:Nom>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="activity" type="nc1sicsdicos:L115_1Code">
                  <xs:annotation>
                    <xs:documentation>Indicateur d’activité du participant terrestre.</xs:documentation>
                    <xs:documentation xml:lang="en">Land participant activity indicator.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Activité terrestre</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Ground activity</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="specificType" type="nc1sicsdicos:L110_83Code">
                  <xs:annotation>
                    <xs:documentation>Type d'équipement spécifique de la piste terrestre.</xs:documentation>
                    <xs:documentation xml:lang="en">Land track specific equipment type.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Type spécifique</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Specific type</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="vehiclesCount" type="nc1common:Int0To99Type">
                  <xs:annotation>
                    <xs:documentation>Nombre de véhicules composant le participant.</xs:documentation>
                    <xs:documentation xml:lang="en">Number of vehicles the participant is made of.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Nombre de véhicules</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Number of vehicles</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="staffCount" type="nc1common:Int0To99Type">
                  <xs:annotation>
                    <xs:documentation>Nombre de personnels composant le participant.</xs:documentation>
                    <xs:documentation xml:lang="en">Number of personnel the participant is made of.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Nombre de personnels</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Number of staff</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="comData" type="nc1com:ComDataType">
            <xs:annotation>
              <xs:documentation>Données de communication.</xs:documentation>
              <xs:documentation xml:lang="en">Communication data.</xs:documentation>
              <xs:appinfo>
                <nc1ihm:Nom>Données de communication</nc1ihm:Nom>
                <nc1ihm:Nom xml:lang="en">Communication data</nc1ihm:Nom>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="status" type="nc1logistics:StatusType">
            <xs:annotation>
              <xs:documentation>Etat opérationnel et logistique.</xs:documentation>
              <xs:documentation xml:lang="en">Operational and logistic status.</xs:documentation>
              <xs:appinfo>
                <nc1ihm:Nom>Etat</nc1ihm:Nom>
                <nc1ihm:Nom xml:lang="en">Status</nc1ihm:Nom>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="location">
            <xs:annotation>
              <xs:documentation>Localisation.</xs:documentation>
              <xs:appinfo>
                <nc1ihm:Nom>Localisation</nc1ihm:Nom>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="name" type="nc1common:Text1To30ObjectType">
                  <xs:annotation>
                    <xs:documentation>Nom de baptême donné par l'opérateur à la localisation. Par exemple un nom de ville ou de lieu.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Nom</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">name</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element name="point" type="nc1location:PointType">
                  <xs:annotation>
                    <xs:documentation>Point localisé.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Point</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:choice minOccurs="0">
                  <xs:element minOccurs="0" name="groundSpeed" type="nc1common:SpeedType">
                    <xs:annotation>
                      <xs:documentation>Vitesse au sol de la localisation.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Vitesse au sol</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">ground speed</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="approximateSpeed" type="nc1sicsdicos:L121_1Code">
                    <xs:annotation>
                      <xs:documentation>Vitesse approximative.</xs:documentation>
                      <xs:documentation xml:lang="en">approxiamte speed.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Vitesse approximative</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">approxiamte speed</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:choice>
                <xs:element minOccurs="0" name="course" type="nc1common:AngleType">
                  <xs:annotation>
                    <xs:documentation>Direction du vecteur vitesse.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Direction</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="Qxy" type="nc1common:Int0To999Type">
                  <xs:annotation>
                    <xs:documentation>Indicateur de précision pour x et y : rayon (mètres).</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Qxy</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="Qz" type="nc1common:Int0To999Type">
                  <xs:annotation>
                    <xs:documentation>Indicateur de précision pour z : rayon (mètres).</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Qz</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="fireDirection" type="nc1common:AngleType">
                  <xs:annotation>
                    <xs:documentation>Orientation de l’armement principal.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Axe de visée principal</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="observationDirection" type="nc1common:AngleType">
                  <xs:annotation>
                    <xs:documentation>Orientation du capteur d'observation.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Axe d’observation</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="rotation" type="nc1common:AngleType">
                  <xs:annotation>
                    <xs:documentation>Orientation du châssis.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Cap</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="datetime" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>Horodatage du relevé de position sur le terrain. Par défaut, l'heure de saisie dans le système.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Horodatage</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="validityPeriod" type="nc1common:PeriodType">
                  <xs:annotation>
                    <xs:documentation>Période de validité.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Période de validité</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="quality" type="nc1sicsdicos:L117_5Code">
                  <xs:annotation>
                    <xs:documentation>Qualité de la mesure de la localisation.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Qualité</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>