Models/NC1Components/Objet/NC1_Event.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:fra:nc1:objet:event" xmlns:nc1ihm="urn:fra:nc1:IHM" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nc1event="urn:fra:nc1:objet:event" xmlns:nc1common="urn:fra:nc1:common:attribute" xmlns:nc1medical="urn:fra:nc1:common:health" xmlns:nc1location="urn:fra:nc1:common:location" xmlns:nc1objcom="urn:fra:nc1:common:object" xmlns:nc1sicsdicos="urn:fra:nc1:common:sicsdicos">
  <!-- NC1 V.9.0.0 -->
  <xs:import namespace="urn:fra:nc1:common:attribute" schemaLocation="../Commun/Common.xsd" />
  <xs:import namespace="urn:fra:nc1:common:health" schemaLocation="../Commun/Health.xsd" />
  <xs:import namespace="urn:fra:nc1:common:location" schemaLocation="../Commun/Location.xsd" />
  <xs:import namespace="urn:fra:nc1:common:object" schemaLocation="../Commun/Object.xsd" />
  <xs:import namespace="urn:fra:nc1:common:sicsdicos" schemaLocation="../Commun/SICS_Dictionaries.xsd" />
  <xs:element name="NC1_Event" type="nc1event:EventType">
    <xs:annotation>
      <xs:documentation>L’objet NC1_Event correspond aux notions d’évènement et d’incident.</xs:documentation>
      <xs:documentation xml:lang="en">The object NC1_Event corresponds to the notions of event and incident.</xs:documentation>
      <xs:appinfo>
        <nc1:type xmlns:nc1="urn:fra:nc1">Objet</nc1:type>
        <nc1ihm:Nom>Événement</nc1ihm:Nom>
        <nc1ihm:Nom xml:lang="en">Event</nc1ihm:Nom>
        <nc1:MessH xmlns:nc1="urn:fra:nc1">Message H6.1 TacEvent</nc1:MessH>
        <nc1:MessADatP3 xmlns:nc1="urn:fra:nc1">EVTCLASS, EVENTID</nc1:MessADatP3>
        <nc1:LastNC1ModifyVersion xmlns:nc1="urn:fra:nc1">9.0.0</nc1:LastNC1ModifyVersion>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="EventType">
    <xs:annotation>
      <xs:documentation>L’objet NC1_Event décrit un fait, une occasion ou un phénomène doté d'une signification militaire s'étant déroulé ou se déroulant, mais pour lequel aucune planification n'est connue.</xs:documentation>
      <xs:documentation xml:lang="en">The NC1_Event described an occurred or on-going fact, an opportunity or phenomenon with a military significance, but for which no planification is known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc1objcom:LocalisedObjectType">
        <xs:sequence>
          <xs:element minOccurs="0" name="tacticalData">
            <xs:annotation>
              <xs:documentation>Données tactiques de l'événement.</xs:documentation>
              <xs:documentation xml:lang="en">Event tactical data.</xs:documentation>
              <xs:appinfo>
                <nc1ihm:Nom>Données tactiques</nc1ihm:Nom>
                <nc1ihm:Nom xml:lang="en">tactical datas</nc1ihm:Nom>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="name" type="nc1common:ShortTextObjectType">
                  <xs:annotation>
                    <xs:documentation>Nom de l’événement affiché sur la cartographie.</xs:documentation>
                    <xs:documentation xml:lang="en">Event displayed name.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Nom</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">name</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element name="symbolCode" type="nc1common:SymbolCodeType">
                  <xs:annotation>
                    <xs:documentation>Code contenant les informations de symbologie, d'identité (AMI, ENI, etc.), de nationalité, d'état de planification.</xs:documentation>
                    <xs:documentation xml:lang="en">Code specifying information about symbology, identity (Friend, enemy, …), nationality, planification status.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Code du symbole</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Symbol code</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="description" type="nc1common:MediumTextObjectType">
                  <xs:annotation>
                    <xs:documentation>Description en texte libre de l’événement.</xs:documentation>
                    <xs:documentation xml:lang="en">Description of the CBRN event.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Description</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Description</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="initiatorEntityId" type="nc1common:Nc1ObjectRefType">
                  <xs:annotation>
                    <xs:documentation>Identifiant unique NC1 de ou des acteurs ayant provoqué l’événement.</xs:documentation>
                    <xs:documentation xml:lang="en">NC1 ID of the initiator(s) of the event.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Agent(s) initiateur(s)</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Initiating entity</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="involvedEntityId" type="nc1common:Nc1ObjectRefType">
                  <xs:annotation>
                    <xs:documentation>Identifiant unique NC1 de ou des acteurs impliqués dans l’événement.</xs:documentation>
                    <xs:documentation xml:lang="en">NC1 ID of the actor(s) involved in the event.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Agent(s) impliqué(s)</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Involved entity</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="responsibleUnitId" type="nc1common:Nc1ObjectRefType">
                  <xs:annotation>
                    <xs:documentation>Identifiant unique NC1 de l’unité responsable de la gestion de l’événement.</xs:documentation>
                    <xs:documentation xml:lang="en">NC1 ID of the unit in charge of the treatment of the event.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Unité responsable</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Responsible unit</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="reliability" type="nc1sicsdicos:L135_14Code">
                  <xs:annotation>
                    <xs:documentation>Evaluation de la fiabilité de la source.</xs:documentation>
                    <xs:documentation xml:lang="en">Assessment of the reliability of the source.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Fiabilité</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Assessment of the reliability of the source of information</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="credibility" type="nc1sicsdicos:L135_15Code">
                  <xs:annotation>
                    <xs:documentation>Evaluation de la crédibilité de la source.</xs:documentation>
                    <xs:documentation xml:lang="en">Assessment of the credibility of the source.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Crédibilité</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Credibility</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="genericWeaponTypeDescription" type="nc1common:MediumTextObjectType">
                  <xs:annotation>
                    <xs:documentation>Description de l’armement impliqué dans l’événement.</xs:documentation>
                    <xs:documentation xml:lang="en">Description of weaponry used during the event.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Armement impliqué</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Involved weapons</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="personnelCasualties" type="nc1medical:PersonnelCasualtiesType">
                  <xs:annotation>
                    <xs:documentation>Caractérisation des victimes de l’événement.</xs:documentation>
                    <xs:documentation xml:lang="en">Characterization of the casualties.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Victimes</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Casualties</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="datetime" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>Horodatage de l’événement. Par défaut, l'heure de saisie dans le système.</xs:documentation>
                    <xs:documentation xml:lang="en">Time stamp of the event. By default, the entry time in the system.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Horodatage</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Timestamp</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="url" type="nc1common:MediumTextObjectType">
                  <xs:annotation>
                    <xs:documentation>Lien vers un fichier associé à l’objet.</xs:documentation>
                    <xs:documentation xml:lang="en">Link to a file associated with the object.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Url</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">url</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="comment" type="nc1common:LongTextObjectType">
                  <xs:annotation>
                    <xs:documentation>Commentaire en texte libre.</xs:documentation>
                    <xs:documentation xml:lang="en">free text comment.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Commentaire</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">comment</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="extVersion" type="nc1common:ExtVersType">
                  <xs:annotation>
                    <xs:documentation>Extension pour versions suivantes compatibles.</xs:documentation>
                    <xs:documentation xml:lang="en">Extension for following compatible versions.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Extension de version</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">version extension</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="location">
            <xs:annotation>
              <xs:documentation>Localisation.</xs:documentation>
              <xs:documentation xml:lang="en">Location.</xs:documentation>
              <xs:appinfo>
                <nc1ihm:Nom>Localisation</nc1ihm:Nom>
                <nc1ihm:Nom xml:lang="en">Location</nc1ihm:Nom>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="name" type="nc1common:Text1To30ObjectType">
                  <xs:annotation>
                    <xs:documentation>Nom de baptême donné par l'opérateur à la localisation. Par exemple un nom de ville ou de lieu.</xs:documentation>
                    <xs:documentation xml:lang="en">Name assigned to the location, e.g. city or place name.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Nom</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">name</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element name="point" type="nc1location:PointType">
                  <xs:annotation>
                    <xs:documentation>Point localisé.</xs:documentation>
                    <xs:documentation xml:lang="en">Geolocalized point.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Point</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Point</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="speed" type="nc1common:SpeedType">
                  <xs:annotation>
                    <xs:documentation>Vitesse au sol de la localisation.</xs:documentation>
                    <xs:documentation xml:lang="en">Location ground speed.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Vitesse</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Speed</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="course" type="nc1common:AngleType">
                  <xs:annotation>
                    <xs:documentation>Orientation angulaire du vecteur vitesse, par rapport au Nord géographique.</xs:documentation>
                    <xs:documentation xml:lang="en">Angular orientation of the speed vector, with respect to geographic North.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Direction</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Direction</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="validityPeriod" type="nc1common:PeriodType">
                  <xs:annotation>
                    <xs:documentation>Période de validité.</xs:documentation>
                    <xs:documentation xml:lang="en">Validity period.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Période de validité</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Validity period</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="quality" type="nc1sicsdicos:L117_5Code">
                  <xs:annotation>
                    <xs:documentation>Qualité de la mesure de la localisation.</xs:documentation>
                    <xs:documentation xml:lang="en">Location measurement quality.</xs:documentation>
                    <xs:appinfo>
                      <nc1ihm:Nom>Qualité</nc1ihm:Nom>
                      <nc1ihm:Nom xml:lang="en">Quality</nc1ihm:Nom>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>