Models/NC1Components/Message/NC1_OWNSITREP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:fra:nc1:message:ownsitrep" xmlns:nc1ihm="urn:fra:nc1:IHM" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nc1ownsitrep="urn:fra:nc1:message:ownsitrep" xmlns:nc1common="urn:fra:nc1:common:attribute" xmlns:nc1msgcom="urn:fra:nc1:common:message" xmlns:nc12dcoord="urn:fra:nc1:objet:2dcoordinationmean" xmlns:nc1airparticipant="urn:fra:nc1:objet:airparticipant" xmlns:nc1airtrack="urn:fra:nc1:objet:airtrack" xmlns:nc1groundparticipant="urn:fra:nc1:objet:groundparticipant" xmlns:nc1groundtrack="urn:fra:nc1:objet:groundtrack" xmlns:nc1mission="urn:fra:nc1:objet:mission" xmlns:nc1participant="urn:fra:nc1:objet:participant" xmlns:nc1seaparticipant="urn:fra:nc1:objet:seaparticipant" xmlns:nc1seatrack="urn:fra:nc1:objet:seatrack" xmlns:nc1tacarea="urn:fra:nc1:objet:tacarea" xmlns:nc1tacline="urn:fra:nc1:objet:tacline" xmlns:nc1tacpoint="urn:fra:nc1:objet:tacpoint" xmlns:nc1track="urn:fra:nc1:objet:track" xmlns:nc1unit="urn:fra:nc1:objet:unit">
  <!-- NC1 V.9.0.0 -->
  <xs:import namespace="urn:fra:nc1:common:attribute" schemaLocation="../Commun/Common.xsd" />
  <xs:import namespace="urn:fra:nc1:common:message" schemaLocation="../Commun/Message.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:2dcoordinationmean" schemaLocation="../Commun/2DCoordinationMean.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:airparticipant" schemaLocation="../Objet/NC1_AirParticipant.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:airtrack" schemaLocation="../Objet/NC1_AirTrack.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:groundparticipant" schemaLocation="../Objet/NC1_GroundParticipant.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:groundtrack" schemaLocation="../Objet/NC1_GroundTrack.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:mission" schemaLocation="../Objet/NC1_Mission.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:participant" schemaLocation="../Commun/Participant.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:seaparticipant" schemaLocation="../Objet/NC1_SeaParticipant.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:seatrack" schemaLocation="../Objet/NC1_SeaTrack.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:tacarea" schemaLocation="../Objet/NC1_TacArea.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:tacline" schemaLocation="../Objet/NC1_TacLine.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:tacpoint" schemaLocation="../Objet/NC1_TacPoint.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:track" schemaLocation="../Commun/Track.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:unit" schemaLocation="../Objet/NC1_Unit.xsd" />
  <xs:element name="NC1_OWNSITREP">
    <xs:annotation>
      <xs:documentation>Le message NC1_OWNSITREP permet d’envoyer la situation, le déploiement, l’état opérationnel des unités amies et/ou leur ordre de bataille, celui des unités subordonnées, et les unités ennemies pouvant influencer les unités amies.</xs:documentation>
      <xs:documentation xml:lang="en">The NC1_OWNSITREP message allows to send the situation, the deployment, the operational state of the friendly units and/or their battle order, that of the subordinate units, and the enemy units being able to influence the friendly units.</xs:documentation>
      <xs:appinfo>
        <nc1:type xmlns:nc1="urn:fra:nc1">Message</nc1:type>
        <nc1ihm:Nom>Compte rendu de situation des forces amies</nc1ihm:Nom>
        <nc1ihm:Nom xml:lang="en">Own forces situation report</nc1ihm:Nom>
        <nc1:MessH xmlns:nc1="urn:fra:nc1">N/A</nc1:MessH>
        <nc1:MessADatP3 xmlns:nc1="urn:fra:nc1">OWNSITREP</nc1:MessADatP3>
        <nc1:LastNC1ModifyVersion xmlns:nc1="urn:fra:nc1">9.0.0</nc1:LastNC1ModifyVersion>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="nc1msgcom:BaseMessageType">
          <xs:sequence>
            <xs:element name="ownForcesTaskOrganizationAndPresence">
              <xs:annotation>
                <xs:documentation>Compte rendu des unités subordonnées.</xs:documentation>
                <xs:documentation xml:lang="en">Subordinate units report.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Compte rendu des unités subordonnées</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Subordinate units report</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="friendlyUnit">
                    <xs:annotation>
                      <xs:documentation>Description d'une unité amie ainsi que des unités ennemies pouvant l'influencer.</xs:documentation>
                      <xs:documentation xml:lang="en">Description of a friendly unit and enemy units which can affect it.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Unité amie</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Friend unit</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="unit" type="nc1unit:UnitType">
                          <xs:annotation>
                            <xs:documentation>Unité amie.</xs:documentation>
                            <xs:documentation xml:lang="en">Friend unit.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Unité amie</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Friend unit</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="enemyUnit" type="nc1unit:UnitType">
                          <xs:annotation>
                            <xs:documentation>Unité ennemie pouvant influencer l'unité amie.</xs:documentation>
                            <xs:documentation xml:lang="en">Enemy unit able to influence friendly unit.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Unité ennemie</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Enemy unit</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="mission" type="nc1mission:MissionType">
                    <xs:annotation>
                      <xs:documentation>Mission amie.</xs:documentation>
                      <xs:documentation xml:lang="en">Friendly mission.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Mission</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Mission</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="description" type="nc1common:LongTextType">
                    <xs:annotation>
                      <xs:documentation>Description en texte libre des unités et des missions amies.</xs:documentation>
                      <xs:documentation xml:lang="en">Free text description of friendly units and missions.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Description</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Description</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="track" type="nc1track:TrackType">
                    <xs:annotation>
                      <xs:documentation>Piste amie, aérienne, terrestre ou maritime.</xs:documentation>
                      <xs:documentation xml:lang="en">Friendly air, land or maritime Track.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Piste</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">track</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="participant" type="nc1participant:ParticipantType">
                    <xs:annotation>
                      <xs:documentation>Participant ami, aérien, terrestre ou maritime.</xs:documentation>
                      <xs:documentation xml:lang="en">Air, land or maritime friendly participant.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Participant</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Participant</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ownForcesAssessment" type="nc1common:WideTextType">
              <xs:annotation>
                <xs:documentation>Appréciation sur le compte rendu des unités subordonnées.</xs:documentation>
                <xs:documentation xml:lang="en">Own forces report assessment.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Appréciation sur le compte rendu</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Report assessment</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="controlAndCoordinationMeans">
              <xs:annotation>
                <xs:documentation>Mesures de coordination 2D amies.</xs:documentation>
                <xs:documentation xml:lang="en">Friendly 2D coordination means.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Mesures de coordination 2D</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">2D coordination means</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="coordinationMean" type="nc12dcoord:_2DCoordinationMeanType">
                    <xs:annotation>
                      <xs:documentation>Point, ligne, ou surface tactique amie.</xs:documentation>
                      <xs:documentation xml:lang="en">Friendly point, line or tactical area.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Mesure de coordination 2D</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">2D coordination mean</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="controlAndCoordinationLinesAssessment" type="nc1common:WideTextType">
              <xs:annotation>
                <xs:documentation>Appréciation sur les mesures de coordination 2D amies.</xs:documentation>
                <xs:documentation xml:lang="en">Friendly 2D coordination means assessment.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Appréciation sur les mesures de coordination 2D</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">2D coordination means assessment</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="comment" type="nc1common:WideTextType">
              <xs:annotation>
                <xs:documentation>Commentaire en texte libre.</xs:documentation>
                <xs:documentation xml:lang="en">free text comment.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Commentaire</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">comment</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>