Models/NC1Components/Message/NC1_OPORD-OPSEC.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:fra:nc1:message:opordopsec" xmlns:nc1ihm="urn:fra:nc1:IHM" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nc1opordopsec="urn:fra:nc1:message:opordopsec" xmlns:nc1common="urn:fra:nc1:common:attribute" xmlns:nc1msgcom="urn:fra:nc1:common:message" xmlns:nc1opord="urn:fra:nc1:message:opord">
  <!-- NC1 V.9.0.0 -->
  <xs:import namespace="urn:fra:nc1:common:attribute" schemaLocation="../Commun/Common.xsd" />
  <xs:import namespace="urn:fra:nc1:common:message" schemaLocation="../Commun/Message.xsd" />
  <xs:import namespace="urn:fra:nc1:message:opord" schemaLocation="NC1_OPORD.xsd" />
  <xs:element name="NC1_OPORD-OPSEC">
    <xs:annotation>
      <xs:documentation>Le message NC1_OPORD-OPSEC fournit les instructions du chef concernant la sécurité des opérations.</xs:documentation>
      <xs:documentation xml:lang="en">The NC1_OPORD-OPSEC message provides the commander's instructions for safe operations.</xs:documentation>
      <xs:appinfo>
        <nc1:type xmlns:nc1="urn:fra:nc1">Message</nc1:type>
        <nc1ihm:Nom>Annexe sécurité des opérations</nc1ihm:Nom>
        <nc1ihm:Nom xml:lang="en">Security of operations annex</nc1ihm:Nom>
        <nc1:MessH xmlns:nc1="urn:fra:nc1">N/A</nc1:MessH>
        <nc1:MessADatP3 xmlns:nc1="urn:fra:nc1">N/A</nc1:MessADatP3>
        <nc1:LastNC1ModifyVersion xmlns:nc1="urn:fra:nc1">9.0.0</nc1:LastNC1ModifyVersion>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="nc1msgcom:BaseMessageType">
          <xs:sequence>
            <xs:element minOccurs="0" name="_1_situation">
              <xs:annotation>
                <xs:documentation>Situation.</xs:documentation>
                <xs:documentation xml:lang="en">Situation.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>1 - Situation</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">1 - Situation</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="A_enemyForces">
                    <xs:annotation>
                      <xs:documentation>Forces ennemies.</xs:documentation>
                      <xs:documentation xml:lang="en">Enemy forces.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>A - Forces ennemies</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">A - Enemy forces</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="threatAndSubversionCapacities">
                          <xs:annotation>
                            <xs:documentation>Capacités en menaces et subversion.</xs:documentation>
                            <xs:documentation xml:lang="en">Threat and subversion capacities.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Capacités en menaces et subversion</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Threat and subversion capacities</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="intelligence" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Renseignement.</xs:documentation>
                                  <xs:documentation xml:lang="en">Intelligence.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Renseignement</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Intelligence</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="spying" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Espionnage.</xs:documentation>
                                  <xs:documentation xml:lang="en">Spying.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Espionnage</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Spying</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="electronicWarfare">
                          <xs:annotation>
                            <xs:documentation>Guerre électronique.</xs:documentation>
                            <xs:documentation xml:lang="en">Electronic warfare.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Guerre électronique</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Electronic warfare</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="supportMeasures" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Mesures de soutien.</xs:documentation>
                                  <xs:documentation xml:lang="en">Support measures.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Mesures de soutien</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Support measures</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="counterMeasures" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Contre-mesures.</xs:documentation>
                                  <xs:documentation xml:lang="en">Countermeasures.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Contre-mesures</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Countermeasures</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ground" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Terrain.</xs:documentation>
                            <xs:documentation xml:lang="en">Field.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Terrain</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Field</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="meteo" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Météo.</xs:documentation>
                            <xs:documentation xml:lang="en">Meteo.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Météo</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Meteo</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="timeAndSpace" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Temps et espace.</xs:documentation>
                            <xs:documentation xml:lang="en">Time and space.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Temps et espace</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Time and space</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="enemyWeaknesses" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Faiblesses de l’ennemi.</xs:documentation>
                            <xs:documentation xml:lang="en">Enemy weaknesses.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Faiblesses de l’ennemi</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Enemy weaknesses</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="_2_mission" type="nc1msgcom:MixedAnyType">
              <xs:annotation>
                <xs:documentation>Mission pour les opérations de sécurité.</xs:documentation>
                <xs:documentation xml:lang="en">OPSEC mission.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>2 - Mission</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">2 - Mission</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="_3_execution">
              <xs:annotation>
                <xs:documentation>Exécution.</xs:documentation>
                <xs:documentation xml:lang="en">Execution.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>3 - Exécution</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">3 - Execution</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="A_intention" type="nc1common:LongTextType">
                    <xs:annotation>
                      <xs:documentation>Idée de manoeuvre (intention).</xs:documentation>
                      <xs:documentation xml:lang="en">Manoeuvre idea (intent).</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>A - Idée de manoeuvre</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">A - Manoeuvre idea</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="B_opsecMissions" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Tâches confiées aux unités OPSEC.</xs:documentation>
                      <xs:documentation xml:lang="en">OPSEC units missions.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>B - Tâches des unités OPSEC</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">B - OPSEC missions</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="C_opsecMeasures" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Mesures OPSEC.</xs:documentation>
                      <xs:documentation xml:lang="en">OPSEC measures.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>C - Mesures OPSEC</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">C - OPSEC measures</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="D_coordinationMeans" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Instructions de coordination.</xs:documentation>
                      <xs:documentation xml:lang="en">2D coordination means.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>D - Instructions de coordination</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">D - Coordination means</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="E_counterIntelligence" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Contre-ingérence.</xs:documentation>
                      <xs:documentation xml:lang="en">Counter intelligence.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>E - Contre-ingérence</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">E - Counter intelligence</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="F_other" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Autres.</xs:documentation>
                      <xs:documentation xml:lang="en">Other.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>F - Autres</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">F - Other</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="G_counterIntelligenceCommand" type="nc1common:LongTextType">
                    <xs:annotation>
                      <xs:documentation>Chaine de commandement de la contre-ingérence.</xs:documentation>
                      <xs:documentation xml:lang="en">Counterintelligence command.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>G - Commandement de la contre-ingérence</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">G - Counterintelligence command</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="_4_administrativeAndLogisticsServices" type="nc1msgcom:MixedAnyType">
              <xs:annotation>
                <xs:documentation>Administration et logistique.</xs:documentation>
                <xs:documentation xml:lang="en">Administration and logistics.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>4 - Administration et logistique</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">4 - Administration and logistics</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="_5_commandAndTransmissions" type="nc1msgcom:MixedAnyType">
              <xs:annotation>
                <xs:documentation>Commandement et transmissions.</xs:documentation>
                <xs:documentation xml:lang="en">Command and transmissions.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>5 - Commandement et transmissions</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">5 - Command and transmissions</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="acknowledgement" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Demande d’aperçu.</xs:documentation>
                <xs:documentation xml:lang="en">Acknowledgement request.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Demande d’aperçu</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Acknowledgement request</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="comment" type="nc1msgcom:CommentSectionType">
              <xs:annotation>
                <xs:documentation>Commentaire en texte libre.</xs:documentation>
                <xs:documentation xml:lang="en">Free text comment.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Commentaire</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Comment</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="signature" type="nc1opord:SignatureType">
              <xs:annotation>
                <xs:documentation>Attache de signature.</xs:documentation>
                <xs:documentation xml:lang="en">Signature block.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Signature</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Signature</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>