Models/NC1Components/Message/NC1_OPORD-GE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:fra:nc1:message:opordge" xmlns:nc1ihm="urn:fra:nc1:IHM" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nc1opordge="urn:fra:nc1:message:opordge" xmlns:nc1common="urn:fra:nc1:common:attribute" xmlns:nc1msgcom="urn:fra:nc1:common:message" xmlns:nc1opord="urn:fra:nc1:message:opord">
  <!-- NC1 V.9.0.0 -->
  <xs:import namespace="urn:fra:nc1:common:attribute" schemaLocation="../Commun/Common.xsd" />
  <xs:import namespace="urn:fra:nc1:common:message" schemaLocation="../Commun/Message.xsd" />
  <xs:import namespace="urn:fra:nc1:message:opord" schemaLocation="NC1_OPORD.xsd" />
  <xs:element name="NC1_OPORD-GE">
    <xs:annotation>
      <xs:documentation>Le message NC1_OPORD-GE sert à transmettre les instructions aux unités de guerre électronique et à informer les unités bénéficiaires du soutien que les unités de guerre électronique leur apportera.</xs:documentation>
      <xs:documentation xml:lang="en">The NC1_OPORD-GE message is used to transmit instructions to the EW units and to inform supported units of the provided support.</xs:documentation>
      <xs:appinfo>
        <nc1:type xmlns:nc1="urn:fra:nc1">Message</nc1:type>
        <nc1ihm:Nom>Annexe GE</nc1ihm:Nom>
        <nc1ihm:Nom xml:lang="en">Electronic warfare annex</nc1ihm:Nom>
        <nc1:MessH xmlns:nc1="urn:fra:nc1">N/A</nc1:MessH>
        <nc1:MessADatP3 xmlns:nc1="urn:fra:nc1">N/A</nc1:MessADatP3>
        <nc1:LastNC1ModifyVersion xmlns:nc1="urn:fra:nc1">9.0.0</nc1:LastNC1ModifyVersion>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="nc1msgcom:BaseMessageType">
          <xs:sequence>
            <xs:element minOccurs="0" name="_1_situation">
              <xs:annotation>
                <xs:documentation>Situation.</xs:documentation>
                <xs:documentation xml:lang="en">Situation.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>1 - Situation</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">1 - Situation</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="A_ewEnemySituation">
                    <xs:annotation>
                      <xs:documentation>Situation de guerre électronique ennemie.</xs:documentation>
                      <xs:documentation xml:lang="en">Enemy situation.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>A - Situation GE ennemie</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">A - Enemy situation</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="ewSupportMeasures" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Mesures de soutien électronique.</xs:documentation>
                            <xs:documentation xml:lang="en">EW support measures.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Mesures de soutien</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Support measures</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="ewCounterMeasures" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Contre-mesures électroniques.</xs:documentation>
                            <xs:documentation xml:lang="en">EW countermeasures.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Contre-mesures</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Countermeasures</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="ewProtectionMeasures" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Mesures de protection électronique.</xs:documentation>
                            <xs:documentation xml:lang="en">EW protection measures.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Mesures de protection</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">EW protection measures</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="B_ewOwnForcesSituation" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Situation de guerre électronique amie.</xs:documentation>
                      <xs:documentation xml:lang="en">Friendly forces.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>B - Situation GE amie</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">B - EW own forces situation</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="C_reinforcements" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Renforcements et prélèvements.</xs:documentation>
                      <xs:documentation xml:lang="en">Attachments and detachments.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>C - Renforcements et prélèvements</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">C - Reinforcements and withdrawals</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="_2_mission" type="nc1msgcom:MixedAnyType">
              <xs:annotation>
                <xs:documentation>Mission des unités de guerre électronique.</xs:documentation>
                <xs:documentation xml:lang="en">EW units mission.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>2 - Mission</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">2 - Mission</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="_3_execution">
              <xs:annotation>
                <xs:documentation>Exécution.</xs:documentation>
                <xs:documentation xml:lang="en">Execution.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>3 - Exécution</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">3 - Execution</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="A_intention" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Idée de manoeuvre (intention).</xs:documentation>
                      <xs:documentation xml:lang="en">Manoeuvre idea (intent).</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>A - Idée de manoeuvre</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">A - Manoeuvre idea</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="B_execution">
                    <xs:annotation>
                      <xs:documentation>Exécution.</xs:documentation>
                      <xs:documentation xml:lang="en">Execution.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>B - Exécution</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">B - Execution</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="taskOrganisation" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Articulation.</xs:documentation>
                            <xs:documentation xml:lang="en">Task organisation.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Articulation</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Task organisation</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="supportUnitsMissions" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Missions des unités de soutien.</xs:documentation>
                            <xs:documentation xml:lang="en">Support units missions.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Missions des unités de soutien</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Support units missions</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="ecmUnitsMissions" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Missions des unités de contre-mesures.</xs:documentation>
                            <xs:documentation xml:lang="en">ECM units missions.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Missions des unités de contre-mesures</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">ECM units missions</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="protectionUnitsMissions" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Mission des unités de protection.</xs:documentation>
                            <xs:documentation xml:lang="en">Protection units mission.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Mission des unités de protection</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Protection units mission</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="C_coordinationMeans" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Instructions de coordination.</xs:documentation>
                      <xs:documentation xml:lang="en">2D coordination means.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>C - Instructions de coordination</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">C - Coordination instructions</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="_4_administrativeAndLogisticsServices">
              <xs:annotation>
                <xs:documentation>Administration et logistique.</xs:documentation>
                <xs:documentation xml:lang="en">Administration and logistics.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>4 - Administration et logistique</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">4 - Administration and logistics</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="A_maintenance" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Maintenance.</xs:documentation>
                      <xs:documentation xml:lang="en">Maintenance.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>A - Maintenance</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">A - Maintenance</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="B_resupply" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Ravitaillement.</xs:documentation>
                      <xs:documentation xml:lang="en">Fuelling.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>B - Ravitaillement</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">B - Supply</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="_5_commandAndTransmissions">
              <xs:annotation>
                <xs:documentation>Commandement et transmissions.</xs:documentation>
                <xs:documentation xml:lang="en">Command and transmissions.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>5 - Commandement et transmissions</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">5 - Command and transmissions</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="A_hqOperations" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Manœuvre des PC.</xs:documentation>
                      <xs:documentation xml:lang="en">Manoeuvring of HQs.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>A - Manœuvre des PC</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">A - HQ operations</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="B_transmissionsSetup">
                    <xs:annotation>
                      <xs:documentation>Mise en œuvre des transmissions et consignes d’emploi.</xs:documentation>
                      <xs:documentation xml:lang="en">Implementation of transmissions and employment guidelines.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>B - Mise en œuvre des transmissions</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Transmissions setup</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="radiantMeans" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Moyens rayonnants.</xs:documentation>
                            <xs:documentation xml:lang="en">Radiant means.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Moyens rayonnants</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Radiant means</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="nonRadiantMeans" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Moyens non rayonnants.</xs:documentation>
                            <xs:documentation xml:lang="en">non radiating means.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Moyens non rayonnants</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">non radiating means</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="otherMeans" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Autres moyens.</xs:documentation>
                            <xs:documentation xml:lang="en">other ways.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Autres moyens</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">other ways</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="C_means">
                    <xs:annotation>
                      <xs:documentation>Moyens.</xs:documentation>
                      <xs:documentation xml:lang="en">Means.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>C - Moyens</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">C - Means</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="additionalItMeans" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Moyens informatiques supplémentaires.</xs:documentation>
                            <xs:documentation xml:lang="en">Additional IT resources.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Moyens informatiques supplémentaires</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Additional IT resources</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="dedicatedCommunicationMeans" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Moyens de communication dédiés.</xs:documentation>
                            <xs:documentation xml:lang="en">Dedicated communication means.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Moyens de communication dédiés</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Dedicated communication means</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="messagesToBeSent" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Messages à transmettre par système.</xs:documentation>
                            <xs:documentation xml:lang="en">Messages to be sent.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Messages à transmettre par système</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Messages to be sent</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="systemUtilizationRules" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Régimes d’emploi des systèmes.</xs:documentation>
                            <xs:documentation xml:lang="en">System utilization rules.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Régimes d’emploi des systèmes</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">System utilization rules</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="D_itSecurity" type="nc1common:LongTextType">
                    <xs:annotation>
                      <xs:documentation>Sécurité des systèmes d’information.</xs:documentation>
                      <xs:documentation xml:lang="en">IT security.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>D - SSI</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">D - IT security</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="E_protectionMeasures" type="nc1common:LongTextType">
                    <xs:annotation>
                      <xs:documentation>Mesures de protection électronique.</xs:documentation>
                      <xs:documentation xml:lang="en">EW protection measures.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>E - Mesures de protection</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">E - Protection measures</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="acknowledgement" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Demande d’aperçu.</xs:documentation>
                <xs:documentation xml:lang="en">Acknowledgement request.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Demande d’aperçu</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Acknowledgement request</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="comment" type="nc1msgcom:CommentSectionType">
              <xs:annotation>
                <xs:documentation>Commentaire en texte libre.</xs:documentation>
                <xs:documentation xml:lang="en">free text comment.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Commentaire</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">comment</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="signature" type="nc1opord:SignatureType">
              <xs:annotation>
                <xs:documentation>Attache de signature.</xs:documentation>
                <xs:documentation xml:lang="en">Signature block.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Signature</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Signature</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>