Models/NC1Components/Message/NC1_PEMA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:fra:nc1:message:pema" xmlns:nc1ihm="urn:fra:nc1:IHM" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nc1pema="urn:fra:nc1:message:pema" xmlns:nc1common="urn:fra:nc1:common:attribute" xmlns:nc1msgcom="urn:fra:nc1:common:message" xmlns:nc1objcom="urn:fra:nc1:common:object" xmlns:nc1airparticipant="urn:fra:nc1:objet:airparticipant" xmlns:nc1airtrack="urn:fra:nc1:objet:airtrack" xmlns:nc1cbrnevent="urn:fra:nc1:objet:cbrnevent" xmlns:nc1convoy="urn:fra:nc1:objet:convoy" xmlns:nc1event="urn:fra:nc1:objet:event" xmlns:nc1facility="urn:fra:nc1:objet:facility" xmlns:nc1freeshape="urn:fra:nc1:objet:freeshape" xmlns:nc1groundentity="urn:fra:nc1:objet:groundentity" xmlns:nc1groundparticipant="urn:fra:nc1:objet:groundparticipant" xmlns:nc1groundtrack="urn:fra:nc1:objet:groundtrack" xmlns:nc1individual="urn:fra:nc1:objet:individual" xmlns:nc1intelreq="urn:fra:nc1:objet:intelrequirement" xmlns:nc1obstacle="urn:fra:nc1:objet:obstacle" xmlns:nc1organisation="urn:fra:nc1:objet:organisation" xmlns:nc1participant="urn:fra:nc1:objet:participant" xmlns:nc1route="urn:fra:nc1:objet:route" xmlns:nc1seaparticipant="urn:fra:nc1:objet:seaparticipant" xmlns:nc1seatrack="urn:fra:nc1:objet:seatrack" xmlns:nc1tacarea="urn:fra:nc1:objet:tacarea" xmlns:nc1tacline="urn:fra:nc1:objet:tacline" xmlns:nc1tacpoint="urn:fra:nc1:objet:tacpoint" xmlns:nc1track="urn:fra:nc1:objet:track" xmlns:nc1unit="urn:fra:nc1:objet:unit">
  <!-- NC1 V.9.0.0 -->
  <xs:import namespace="urn:fra:nc1:common:attribute" schemaLocation="../Commun/Common.xsd" />
  <xs:import namespace="urn:fra:nc1:common:message" schemaLocation="../Commun/Message.xsd" />
  <xs:import namespace="urn:fra:nc1:common:object" schemaLocation="../Commun/Object.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:airparticipant" schemaLocation="../Objet/NC1_AirParticipant.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:airtrack" schemaLocation="../Objet/NC1_AirTrack.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:cbrnevent" schemaLocation="../Objet/NC1_CbrnEvent.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:convoy" schemaLocation="../Objet/NC1_Convoy.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:event" schemaLocation="../Objet/NC1_Event.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:facility" schemaLocation="../Objet/NC1_Facility.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:freeshape" schemaLocation="../Objet/NC1_FreeShape.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:groundentity" schemaLocation="../Objet/NC1_GroundEntity.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:groundparticipant" schemaLocation="../Objet/NC1_GroundParticipant.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:groundtrack" schemaLocation="../Objet/NC1_GroundTrack.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:individual" schemaLocation="../Objet/NC1_Individual.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:intelrequirement" schemaLocation="../Objet/NC1_IntelRequirement.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:obstacle" schemaLocation="../Objet/NC1_Obstacle.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:organisation" schemaLocation="../Objet/NC1_Organisation.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:participant" schemaLocation="../Commun/Participant.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:route" schemaLocation="../Objet/NC1_Route.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:seaparticipant" schemaLocation="../Objet/NC1_SeaParticipant.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:seatrack" schemaLocation="../Objet/NC1_SeaTrack.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:tacarea" schemaLocation="../Objet/NC1_TacArea.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:tacline" schemaLocation="../Objet/NC1_TacLine.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:tacpoint" schemaLocation="../Objet/NC1_TacPoint.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:track" schemaLocation="../Commun/Track.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:unit" schemaLocation="../Objet/NC1_Unit.xsd" />
  <xs:element name="NC1_PEMA">
    <xs:annotation>
      <xs:documentation>Le PEMA (Plan d’Emploi des Moyens d’Acquisition) a pour objet l’organisation d’un système cohérent : il répartit entre tous les moyens de recherche à la disposition d’un échelon donné la surveillance du champ de bataille dans l’espace et le temps.</xs:documentation>
      <xs:documentation xml:lang="en">The PEMA (Plan of Use of Means of Acquisition) aims to organize a coherent system: it divides between all the research resources available for a given level surveillance of the battlefield in the space and time.</xs:documentation>
      <xs:appinfo>
        <nc1:type xmlns:nc1="urn:fra:nc1">Message</nc1:type>
        <nc1ihm:Nom>Plan d’Emploi des Moyens d’Acquisition</nc1ihm:Nom>
        <nc1ihm:Nom xml:lang="en">Intelligence collection assets employment plan</nc1ihm:Nom>
        <nc1:MessH xmlns:nc1="urn:fra:nc1">N/A</nc1:MessH>
        <nc1:MessADatP3 xmlns:nc1="urn:fra:nc1">N/A</nc1:MessADatP3>
        <nc1:LastNC1ModifyVersion xmlns:nc1="urn:fra:nc1">9.0.0</nc1:LastNC1ModifyVersion>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="nc1msgcom:BaseMessageType">
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="intelCollectionMeansPlan">
              <xs:annotation>
                <xs:documentation>Plan d’Emploi des Moyens d’Acquisition.</xs:documentation>
                <xs:documentation xml:lang="en">Intelligence collection assets employment plan.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Plan d’Emploi des Moyens d’Acquisition</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Intelligence collection assets employment plan</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="intelRequirement" type="nc1intelreq:IntelRequirementType">
                    <xs:annotation>
                      <xs:documentation>Besoin en renseignement.</xs:documentation>
                      <xs:documentation xml:lang="en">Intelligence Requirement.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Besoin en renseignement</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Intelligence Requirement</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="involvedPhysicalObject" type="nc1objcom:PhysicalObjectType">
                    <xs:annotation>
                      <xs:documentation>Entité physique sur laquelle le renseignement est demandé.</xs:documentation>
                      <xs:documentation xml:lang="en">Physical entity for which intelligence is requested.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Entité physique</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Physical entity</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="involvedRoute" type="nc1route:RouteType">
                    <xs:annotation>
                      <xs:documentation>Itinéraire sur lequel le renseignement est demandé.</xs:documentation>
                      <xs:documentation xml:lang="en">Route subject to the intelligence request.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Itinéraire</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Route</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="involvedTacPoint" type="nc1tacpoint:TacPointType">
                    <xs:annotation>
                      <xs:documentation>Point tactique sur lequel le renseignement est demandé.</xs:documentation>
                      <xs:documentation xml:lang="en">Tactical point subject to the intelligence request.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Point tactique</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Tactical point</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="involvedTacLine" type="nc1tacline:TacLineType">
                    <xs:annotation>
                      <xs:documentation>Ligne tactique sur laquelle le renseignement est demandé.</xs:documentation>
                      <xs:documentation xml:lang="en">Tactical line for which the intelligence is requested.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Ligne tactique</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Tactical line</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="involvedTacArea" type="nc1tacarea:TacAreaType">
                    <xs:annotation>
                      <xs:documentation>Surface tactique sur laquelle le renseignement est demandé.</xs:documentation>
                      <xs:documentation xml:lang="en">Tactical area for which intelligence is requested.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Surface tactique</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Tactical area</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="involvedEvent" type="nc1event:EventType">
                    <xs:annotation>
                      <xs:documentation>Evénement sur lequel le renseignement est demandé.</xs:documentation>
                      <xs:documentation xml:lang="en">Event subject to the intelligence request.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Evénement</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Event</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="involvedCbrnEvent" type="nc1cbrnevent:CbrnEventType">
                    <xs:annotation>
                      <xs:documentation>Evénement NRBC sur lequel le renseignement est demandé.</xs:documentation>
                      <xs:documentation xml:lang="en">CBRN event subject to the intelligence request.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Evénement NRBC</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">CBRN event</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="involvedFreeShape" type="nc1freeshape:FreeShapeType">
                    <xs:annotation>
                      <xs:documentation>Forme libre sur laquelle le renseignement est demandé.</xs:documentation>
                      <xs:documentation xml:lang="en">Free shape subject to the intelligence request.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Forme libre</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Free shape</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" name="intelMeans">
                    <xs:annotation>
                      <xs:documentation>Emploi des moyens de recherche du renseignement.</xs:documentation>
                      <xs:documentation xml:lang="en">Use of intelligence collection means.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Emploi des moyens</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Means</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:choice>
                          <xs:element maxOccurs="unbounded" name="subordinateUnitId" type="nc1common:Nc1ObjectRefType">
                            <xs:annotation>
                              <xs:documentation>Identifiant(s) unique(s) de ou des Unité(s) chargée(s) de la recherche de renseignement.</xs:documentation>
                              <xs:documentation xml:lang="en">NC1 ID(s) of the unit(s) in charge of the intelligence collection.</xs:documentation>
                              <xs:appinfo>
                                <nc1ihm:Nom>Identifiant unité subordonnée</nc1ihm:Nom>
                                <nc1ihm:Nom xml:lang="en">Subordinate unit id</nc1ihm:Nom>
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="unitTypeDescription" type="nc1common:MediumTextType">
                            <xs:annotation>
                              <xs:documentation>Description en texte libre du type d’unité chargée de la recherche de renseignement (exemple : « ASS »).</xs:documentation>
                              <xs:documentation xml:lang="en">"Free text description of the type of unit in charge of intelligence collection (e.g. ""ASS"")".</xs:documentation>
                              <xs:appinfo>
                                <nc1ihm:Nom>Description du type d’unité</nc1ihm:Nom>
                                <nc1ihm:Nom xml:lang="en">Unit type description</nc1ihm:Nom>
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                        </xs:choice>
                        <xs:element minOccurs="0" name="meansDescription" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Description en texte libre des moyens de recherche.</xs:documentation>
                            <xs:documentation xml:lang="en">Free text description of search means.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Description des moyens</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Means description</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="associatedArea">
                          <xs:annotation>
                            <xs:documentation>Zone associée aux moyens de recherche.</xs:documentation>
                            <xs:documentation xml:lang="en">Search means associated area.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Zone associée</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Associated area</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:choice>
                              <xs:element name="physicalObject" type="nc1objcom:PhysicalObjectType">
                                <xs:annotation>
                                  <xs:documentation>Entité physique.</xs:documentation>
                                  <xs:documentation xml:lang="en">Physical entity.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Entité physique</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Physical entity</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="tacPoint" type="nc1tacpoint:TacPointType">
                                <xs:annotation>
                                  <xs:documentation>Point tactique.</xs:documentation>
                                  <xs:documentation xml:lang="en">Tactical point.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Point tactique</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Tactical point</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="tacLine" type="nc1tacline:TacLineType">
                                <xs:annotation>
                                  <xs:documentation>Ligne tactique.</xs:documentation>
                                  <xs:documentation xml:lang="en">Tactical line.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Ligne tactique</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Tactical line</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="tacArea" type="nc1tacarea:TacAreaType">
                                <xs:annotation>
                                  <xs:documentation>Surface tactique.</xs:documentation>
                                  <xs:documentation xml:lang="en">Tactical area.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Surface tactique</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Tactical area</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="freeShape" type="nc1freeshape:FreeShapeType">
                                <xs:annotation>
                                  <xs:documentation>Forme libre.</xs:documentation>
                                  <xs:documentation xml:lang="en">Free shape.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Forme libre</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Free shape</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                            </xs:choice>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="comment" type="nc1msgcom:CommentSectionType">
              <xs:annotation>
                <xs:documentation>Commentaire en texte libre.</xs:documentation>
                <xs:documentation xml:lang="en">free text comment.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Commentaire</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">comment</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>