Models/NC1Components/Message/NC1_OPORD-AIN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:fra:nc1:message:opordain" xmlns:nc1ihm="urn:fra:nc1:IHM" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nc1opordain="urn:fra:nc1:message:opordain" xmlns:nc1common="urn:fra:nc1:common:attribute" xmlns:nc1msgcom="urn:fra:nc1:common:message" xmlns:nc1opord="urn:fra:nc1:message:opord" xmlns:nc1reinforcement="urn:fra:nc1:objet:reinforcement" xmlns:nc1roe="urn:fra:nc1:objet:roe">
  <!-- NC1 V.9.0.0 -->
  <xs:import namespace="urn:fra:nc1:common:attribute" schemaLocation="../Commun/Common.xsd" />
  <xs:import namespace="urn:fra:nc1:common:message" schemaLocation="../Commun/Message.xsd" />
  <xs:import namespace="urn:fra:nc1:message:opord" schemaLocation="NC1_OPORD.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:reinforcement" schemaLocation="../Objet/NC1_Reinforcement.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:roe" schemaLocation="../Objet/NC1_Roe.xsd" />
  <xs:element name="NC1_OPORD-AIN">
    <xs:annotation>
      <xs:documentation>Le message NC1_OPORD-AIN sert à transmettre les instructions aux unités devant fournir les tirs d'appui et il indique aux unités bénéficiaires le type d'appui qu'elles vont recevoir ainsi que les détails nécessaires concernant la coordination.</xs:documentation>
      <xs:documentation xml:lang="en">The NC1_OPORD-AIN message serves to transmit to the instructions in the units that must supply the support fires and he indicates to the profitable units the type(chap) of support which they are going to receive as well as the necessary details concerning the coordination.</xs:documentation>
      <xs:appinfo>
        <nc1:type xmlns:nc1="urn:fra:nc1">Message</nc1:type>
        <nc1ihm:Nom>Annexe appui feux</nc1ihm:Nom>
        <nc1ihm:Nom xml:lang="en">Fire support annex</nc1ihm:Nom>
        <nc1:MessH xmlns:nc1="urn:fra:nc1">N/A</nc1:MessH>
        <nc1:MessADatP3 xmlns:nc1="urn:fra:nc1">N/A</nc1:MessADatP3>
        <nc1:LastNC1ModifyVersion xmlns:nc1="urn:fra:nc1">9.0.0</nc1:LastNC1ModifyVersion>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="nc1msgcom:BaseMessageType">
          <xs:sequence>
            <xs:element minOccurs="0" name="taskOrganisation">
              <xs:annotation>
                <xs:documentation>Articulation des forces.</xs:documentation>
                <xs:documentation xml:lang="en">Task organisation.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Articulation</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Task organisation</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="member" type="nc1opord:TaskOrganisationMemberSimplifiedType">
                    <xs:annotation>
                      <xs:documentation>Description de l'élément dans l’articulation de forces.</xs:documentation>
                      <xs:documentation xml:lang="en">Description of the element in the task organisation.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Elément de l'articulation</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Element of the task organisation</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="_1_situation">
              <xs:annotation>
                <xs:documentation>Situation.</xs:documentation>
                <xs:documentation xml:lang="en">Situation.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>1 - Situation</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">1 - Situation</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="A_enemySituation">
                    <xs:annotation>
                      <xs:documentation>Forces ennemies.</xs:documentation>
                      <xs:documentation xml:lang="en">Enemy forces.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>A - Forces ennemies</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">A - Enemy forces</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="generalInformation" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Généralités.</xs:documentation>
                            <xs:documentation xml:lang="en">General points.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Généralités</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">General points</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="threats" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Menaces : appui aérien, artillerie, défense aérienne, artillerie navale, acquisition, NRBC.</xs:documentation>
                            <xs:documentation xml:lang="en">Threats: air support, artillery, air defence, naval artillery, acquisition, CBRN.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Menaces</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Threats</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="B_ownForcesSituation">
                    <xs:annotation>
                      <xs:documentation>Forces amies.</xs:documentation>
                      <xs:documentation xml:lang="en">Friendly forces.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>B - Forces amies</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">B - Own forces</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="superiorUnitIntentionAndMission" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Mission et intention du supérieur.</xs:documentation>
                            <xs:documentation xml:lang="en">Superior unit intention and mission.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Mission et intention du supérieur</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Superior unit intention and mission</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="superiorAndNeighboursFireSupport" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Rôles et actions d’appui feu du supérieur et des voisins.</xs:documentation>
                            <xs:documentation xml:lang="en">Superior and neighbours fire support.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Appui feu du supérieur et des voisins</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Superior and neighbours fire support</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="additionalMeans" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Moyens complémentaires (aériens, navals et nucléaires).</xs:documentation>
                            <xs:documentation xml:lang="en">Additional means (air, naval and nuclear).</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Moyens complémentaires</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Additional means</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="C_reinforcements">
                    <xs:annotation>
                      <xs:documentation>Renforcements et prélèvements.</xs:documentation>
                      <xs:documentation xml:lang="en">Attachments and detachments.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>C - Renforcements et prélèvements</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">C - Reinforcements and withdrawals</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="reinforcement" type="nc1reinforcement:ReinforcementType">
                          <xs:annotation>
                            <xs:documentation>Renforcement d’unité.</xs:documentation>
                            <xs:documentation xml:lang="en">Reinforcement of unit.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Renforcement</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Reinforcement</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="comment" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Commentaire en texte libre.</xs:documentation>
                            <xs:documentation xml:lang="en">free text comment.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Commentaire</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">comment</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="_2_mission" type="nc1msgcom:MixedAnyType">
              <xs:annotation>
                <xs:documentation>Mission de l'AIN.</xs:documentation>
                <xs:documentation xml:lang="en">Field artillery mission.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>2 - Mission</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">2 - Mission</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="_3_execution">
              <xs:annotation>
                <xs:documentation>Exécution.</xs:documentation>
                <xs:documentation xml:lang="en">Execution.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>3 - Exécution</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">3 - Execution</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="A_intention" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Exposé de l’opération d’appui feu (moyens et efforts).</xs:documentation>
                      <xs:documentation xml:lang="en">Disclosure of the fire support operation (means and efforts).</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>A - Idée de manoeuvre (intention)</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">A - Manoeuvre idea (intent)</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="B_airSupport">
                    <xs:annotation>
                      <xs:documentation>Appui aérien.</xs:documentation>
                      <xs:documentation xml:lang="en">Air support.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>B - Appui aérien</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">B - Air support</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="generalInformation" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Généralités : rôles et missions de l’appui aérien.</xs:documentation>
                            <xs:documentation xml:lang="en">General information : roles and missions of the airborne support.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Généralités</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">General points</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="allocation" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Allocation : répartition et priorités.</xs:documentation>
                            <xs:documentation xml:lang="en">Allocation and priorities.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Allocation</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Allocation</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="miscellaneous" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Divers.</xs:documentation>
                            <xs:documentation xml:lang="en">Miscellaneous.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Divers</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Miscellaneous</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="C_armyAviationSupport">
                    <xs:annotation>
                      <xs:documentation>Appui  de l’ALAT.</xs:documentation>
                      <xs:documentation xml:lang="en">ALAT support.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>C - Appui  de l’ALAT</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">C - Army aviation support</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="generalInformation" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Généralités : rôles et missions de l'ALAT.</xs:documentation>
                            <xs:documentation xml:lang="en">General: Army Aviation roles and missions.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Généralités</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">General points</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="allocation" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Allocation : répartition et priorités.</xs:documentation>
                            <xs:documentation xml:lang="en">Allocation and priorities.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Allocation</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Allocation</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="miscellaneous" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Divers.</xs:documentation>
                            <xs:documentation xml:lang="en">Miscellaneous.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Divers</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Miscellaneous</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="D_artillerySupport">
                    <xs:annotation>
                      <xs:documentation>Appui de l’artillerie.</xs:documentation>
                      <xs:documentation xml:lang="en">Fires support.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>D - Appui de l’artillerie</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">D - Artillery support</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="D1_fieldArtillery">
                          <xs:annotation>
                            <xs:documentation>Artillerie de campagne.</xs:documentation>
                            <xs:documentation xml:lang="en">Field artillery.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>1 - Artillerie de campagne</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">1 - Field artillery</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="generalInformation" type="nc1common:LongTextType">
                                <xs:annotation>
                                  <xs:documentation>Généralités.</xs:documentation>
                                  <xs:documentation xml:lang="en">General points.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Généralités</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">General points</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="reinforcements">
                                <xs:annotation>
                                  <xs:documentation>Articulation et répartition des Détachements de Liaison.</xs:documentation>
                                  <xs:documentation xml:lang="en">Articulation and distribution of Liaison Detachments.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Articulation et répartition des DL </nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Articulation and distribution of Liaison Detachments</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="reinforcement" type="nc1reinforcement:ReinforcementType">
                                      <xs:annotation>
                                        <xs:documentation>Renforcement d’unité.</xs:documentation>
                                        <xs:documentation xml:lang="en">Reinforcement of unit.</xs:documentation>
                                        <xs:appinfo>
                                          <nc1ihm:Nom>Renforcement</nc1ihm:Nom>
                                          <nc1ihm:Nom xml:lang="en">Reinforcement</nc1ihm:Nom>
                                        </xs:appinfo>
                                      </xs:annotation>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="missions" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Missions feu au contact et dans la profondeur.</xs:documentation>
                                  <xs:documentation xml:lang="en">fire missions in contact and in the depth.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Missions feu</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Fire missions</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="fireSupportMissions" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Missions de renforcement de feux.</xs:documentation>
                                  <xs:documentation xml:lang="en">Fire support missions.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Missions de renforcement de feux</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Fire support missions</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="intelMissions" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Missions de renseignement.</xs:documentation>
                                  <xs:documentation xml:lang="en">Intel missions.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Missions de renseignement</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Intel missions</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="acquisitionAndDetectionMissions" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Missions d’acquisition et de détection.</xs:documentation>
                                  <xs:documentation xml:lang="en">Acquisition and detection missions.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Missions d’acquisition et de détection</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Acquisition and detection missions</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="deployment" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Déploiement et manœuvre.</xs:documentation>
                                  <xs:documentation xml:lang="en">Deployment and manoeuvre.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Déploiement et manœuvre</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Deployment and manoeuvre</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="miscellaneous" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Divers.</xs:documentation>
                                  <xs:documentation xml:lang="en">Miscellaneous.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Divers</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Miscellaneous</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="D2_airDefenceArtillery">
                          <xs:annotation>
                            <xs:documentation>Artillerie de défense aérienne.</xs:documentation>
                            <xs:documentation xml:lang="en">Air defence artillery.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>2 - Artillerie de défense aérienne</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">2 - Air defence artillery</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="generalInformation" type="nc1common:LongTextType">
                                <xs:annotation>
                                  <xs:documentation>Généralités.</xs:documentation>
                                  <xs:documentation xml:lang="en">General points.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Généralités</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">General points</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="reinforcements" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Articulation.</xs:documentation>
                                  <xs:documentation xml:lang="en">Task organisation.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Articulation</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Task organisation</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="airDefenceMissions" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Missions de l’ASA conservée aux ordres.</xs:documentation>
                                  <xs:documentation xml:lang="en">Missions of the air defence units at the disposal of the commander.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Missions de l’ASA</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Air defence missions</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="miscellaneous">
                                <xs:annotation>
                                  <xs:documentation>Divers.</xs:documentation>
                                  <xs:documentation xml:lang="en">Miscellaneous.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Divers</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Miscellaneous</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" name="deploymentAreas" type="nc1msgcom:MixedAnyType">
                                      <xs:annotation>
                                        <xs:documentation>Zones de déploiement.</xs:documentation>
                                        <xs:documentation xml:lang="en">Deployment areas.</xs:documentation>
                                        <xs:appinfo>
                                          <nc1ihm:Nom>Zones de déploiement</nc1ihm:Nom>
                                          <nc1ihm:Nom xml:lang="en">Deployment areas</nc1ihm:Nom>
                                        </xs:appinfo>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roe" type="nc1roe:RoeType">
                                      <xs:annotation>
                                        <xs:documentation>ROE.</xs:documentation>
                                        <xs:documentation xml:lang="en">ROE.</xs:documentation>
                                        <xs:appinfo>
                                          <nc1ihm:Nom>ROE</nc1ihm:Nom>
                                          <nc1ihm:Nom xml:lang="en">ROE</nc1ihm:Nom>
                                        </xs:appinfo>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="procedures" type="nc1common:LongTextType">
                                      <xs:annotation>
                                        <xs:documentation>Procédures à appliquer.</xs:documentation>
                                        <xs:documentation xml:lang="en">Procedures to apply.</xs:documentation>
                                        <xs:appinfo>
                                          <nc1ihm:Nom>Procédures à appliquer</nc1ihm:Nom>
                                          <nc1ihm:Nom xml:lang="en">Procedures to apply</nc1ihm:Nom>
                                        </xs:appinfo>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="orderReference" type="nc1common:LongTextType">
                                      <xs:annotation>
                                        <xs:documentation>Renvoi à un ordre Artillerie.</xs:documentation>
                                        <xs:documentation xml:lang="en">Reference to an artillery order.</xs:documentation>
                                        <xs:appinfo>
                                          <nc1ihm:Nom>Renvoi à un ordre</nc1ihm:Nom>
                                          <nc1ihm:Nom xml:lang="en">Reference to an order</nc1ihm:Nom>
                                        </xs:appinfo>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="authorizedConsumption" type="nc1common:LongTextType">
                                      <xs:annotation>
                                        <xs:documentation>Taux de consommation autorisé.</xs:documentation>
                                        <xs:documentation xml:lang="en">Authorized consumption rate.</xs:documentation>
                                        <xs:appinfo>
                                          <nc1ihm:Nom>Taux de consommation autorisé</nc1ihm:Nom>
                                          <nc1ihm:Nom xml:lang="en">Authorized consumption rate</nc1ihm:Nom>
                                        </xs:appinfo>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="fireInstructions" type="nc1common:LongTextType">
                                      <xs:annotation>
                                        <xs:documentation>Consignes de tir.</xs:documentation>
                                        <xs:documentation xml:lang="en">Weapon control order assigned to the airspace area.</xs:documentation>
                                        <xs:appinfo>
                                          <nc1ihm:Nom>Consignes de tir</nc1ihm:Nom>
                                          <nc1ihm:Nom xml:lang="en">Weapon control order assigned to the airspace area</nc1ihm:Nom>
                                        </xs:appinfo>
                                      </xs:annotation>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="E_navyFiresSupport" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Appui feu naval.</xs:documentation>
                      <xs:documentation xml:lang="en">Naval support.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>E - Appui feu naval</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">E - Navy fires support</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="F_nuclearSupport" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Appui nucléaire.</xs:documentation>
                      <xs:documentation xml:lang="en">Nuclear support.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>F - Appui nucléaire</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">F - Nuclear support</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="G_coordinationMeans">
                    <xs:annotation>
                      <xs:documentation>Instructions de coordination.</xs:documentation>
                      <xs:documentation xml:lang="en">2D coordination means.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>G - Instructions de coordination</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">G - Coordination means</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="coordinationAndControlMeans">
                          <xs:annotation>
                            <xs:documentation>Mesures de conduite et de coordination.</xs:documentation>
                            <xs:documentation xml:lang="en">Coordination and control means.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Mesures de conduite et de coordination</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Coordination and control means</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="groundToGround" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Artillerie Sol-Sol.</xs:documentation>
                                  <xs:documentation xml:lang="en">Ground fires.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>ART SS</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Ground fires</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="groundToAir" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Artillerie Sol-Air.</xs:documentation>
                                  <xs:documentation xml:lang="en">Surface to air fires.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>ART SA</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Surface to air fires</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="datetimes" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Horaires.</xs:documentation>
                            <xs:documentation xml:lang="en">Times.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Horaires</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Times</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="coordinationInstructions">
                          <xs:annotation>
                            <xs:documentation>Instructions de coordination sur les objectifs.</xs:documentation>
                            <xs:documentation xml:lang="en">Target coordination instructions.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Instructions de coordination</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">2D coordination means</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="groundToGround" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Artillerie Sol-Sol.</xs:documentation>
                                  <xs:documentation xml:lang="en">Ground fires.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>ART SS</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Ground fires</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="groundToAir" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Artillerie Sol-Air.</xs:documentation>
                                  <xs:documentation xml:lang="en">Surface to air fires.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>ART SA</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Surface to air fires</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="modificationInstructions">
                          <xs:annotation>
                            <xs:documentation>Instructions relatives aux modifications.</xs:documentation>
                            <xs:documentation xml:lang="en">Modification instructions.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Instructions relatives aux modifications</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Modification instructions</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="groundToGround" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Artillerie Sol-Sol.</xs:documentation>
                                  <xs:documentation xml:lang="en">Ground fires.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>ART SS</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Ground fires</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="groundToAir" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Artillerie Sol-Air.</xs:documentation>
                                  <xs:documentation xml:lang="en">Surface to air fires.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>ART SA</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Surface to air fires</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="spreadableMines" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Mines dispersables.</xs:documentation>
                            <xs:documentation xml:lang="en">Spreadable mines.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Mines dispersables</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Spreadable mines</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="artilleryAirDefenceInstructions" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Consignes LATTA propres à l’artillerie.</xs:documentation>
                            <xs:documentation xml:lang="en">Artillery air defence instructions.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Consignes LATTA</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Artillery air defence instructions</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="chemicalDefence">
                          <xs:annotation>
                            <xs:documentation>Défense chimique.</xs:documentation>
                            <xs:documentation xml:lang="en">Chemical defence.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Défense chimique</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Chemical defence</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="ownForcesSecurity" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Sécurité des troupes.</xs:documentation>
                                  <xs:documentation xml:lang="en">Own forces security.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Sécurité des troupes</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Own forces security</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="meteo" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Météo.</xs:documentation>
                                  <xs:documentation xml:lang="en">Meteo.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>Météo</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Meteo</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="miscellaneous" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Divers.</xs:documentation>
                            <xs:documentation xml:lang="en">Miscellaneous.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Divers</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Miscellaneous</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="_4_administrativeAndLogisticsServices">
              <xs:annotation>
                <xs:documentation>Administration et logistique.</xs:documentation>
                <xs:documentation xml:lang="en">Administration and logistics.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>4 - Administration et logistique</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">4 - Administration and logistics</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="A_generalInformation">
                    <xs:annotation>
                      <xs:documentation>Généralités.</xs:documentation>
                      <xs:documentation xml:lang="en">General points.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>A - Généralités</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">A - General information</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="logisticOrderReference" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Renvoi à l'OAL.</xs:documentation>
                            <xs:documentation xml:lang="en">Administration/logistic order reference.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Renvoi à l'OAL</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Administration/logistic order reference</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="specialMeasures" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Mesures particulières de soutien.</xs:documentation>
                            <xs:documentation xml:lang="en">Special support measures.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Mesures particulières</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Special measures</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="B_logisticDeployment" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Déploiement logistique.</xs:documentation>
                      <xs:documentation xml:lang="en">Logistic deployment.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>B - Déploiement logistique</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">B - Logistic deployment</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="C_maintenanceNeeds" type="nc1common:LongTextType">
                    <xs:annotation>
                      <xs:documentation>Besoin d’entretien - taux de consommation journaliers de chaque système d’armes.</xs:documentation>
                      <xs:documentation xml:lang="en">maintenance needs - daily consumption rate of each weapon system.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>C - Besoin d’entretien</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">C - Maintenance needs</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="D_miscellaneous" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Divers.</xs:documentation>
                      <xs:documentation xml:lang="en">Miscellaneous.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>D - Divers</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">D - Miscellaneous</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="_5_commandAndTransmissions">
              <xs:annotation>
                <xs:documentation>Commandement et transmissions.</xs:documentation>
                <xs:documentation xml:lang="en">Command and transmissions.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>5 - Commandement et transmissions</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">5 - Command and transmissions</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="A_command">
                    <xs:annotation>
                      <xs:documentation>Commandement.</xs:documentation>
                      <xs:documentation xml:lang="en">Command.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>A - Commandement</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">A - Command</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="hqLocations" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Positions des PC.</xs:documentation>
                            <xs:documentation xml:lang="en">HQ locations.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Positions des PC</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">HQ locations</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="link" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Liaison.</xs:documentation>
                            <xs:documentation xml:lang="en">Link.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Liaison</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Link</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="B_transmission">
                    <xs:annotation>
                      <xs:documentation>Transmissions.</xs:documentation>
                      <xs:documentation xml:lang="en">Command and transmissions.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>B - Transmissions</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">B - Transmission</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="specialProtectionMeasures">
                          <xs:annotation>
                            <xs:documentation>Mesures de protections particulières.</xs:documentation>
                            <xs:documentation xml:lang="en">Special protection measures.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Mesures de protections particulières</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Special protection measures</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="groundToGround" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Artillerie Sol-Sol.</xs:documentation>
                                  <xs:documentation xml:lang="en">Ground fires.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>ART SS</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Ground fires</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="groundToAir" type="nc1msgcom:MixedAnyType">
                                <xs:annotation>
                                  <xs:documentation>Artillerie Sol-Air.</xs:documentation>
                                  <xs:documentation xml:lang="en">Surface to air fires.</xs:documentation>
                                  <xs:appinfo>
                                    <nc1ihm:Nom>ART SA</nc1ihm:Nom>
                                    <nc1ihm:Nom xml:lang="en">Surface to air fires</nc1ihm:Nom>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="codes" type="nc1common:LongTextType">
                          <xs:annotation>
                            <xs:documentation>Mots-codes et noms conventionnels.</xs:documentation>
                            <xs:documentation xml:lang="en">Keywords and conventional names.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Mots-codes</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Keywords</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="C_miscellaneous" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Divers.</xs:documentation>
                      <xs:documentation xml:lang="en">Miscellaneous.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>C - Divers</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">C - Miscellaneous</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="acknowledgement" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Demande d’aperçu.</xs:documentation>
                <xs:documentation xml:lang="en">Acknowledgement request.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Demande d’aperçu</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Acknowledgement request</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="comment" type="nc1msgcom:CommentSectionType">
              <xs:annotation>
                <xs:documentation>Commentaire en texte libre.</xs:documentation>
                <xs:documentation xml:lang="en">free text comment.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Commentaire</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">comment</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="signature" type="nc1opord:SignatureType">
              <xs:annotation>
                <xs:documentation>Attache de signature.</xs:documentation>
                <xs:documentation xml:lang="en">Signature block.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Signature</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Signature</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>