Models/NC1Components/Message/NC1_OPORD-ALAT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:fra:nc1:message:opordalat" xmlns:nc1ihm="urn:fra:nc1:IHM" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nc1opordalat="urn:fra:nc1:message:opordalat" xmlns:nc1msgcom="urn:fra:nc1:common:message" xmlns:nc1opord="urn:fra:nc1:message:opord" xmlns:nc1reinforcement="urn:fra:nc1:objet:reinforcement" xmlns:nc1unit="urn:fra:nc1:objet:unit">
  <!-- NC1 V.9.0.0 -->
  <xs:import namespace="urn:fra:nc1:common:message" schemaLocation="../Commun/Message.xsd" />
  <xs:import namespace="urn:fra:nc1:message:opord" schemaLocation="NC1_OPORD.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:reinforcement" schemaLocation="../Objet/NC1_Reinforcement.xsd" />
  <xs:import namespace="urn:fra:nc1:objet:unit" schemaLocation="../Objet/NC1_Unit.xsd" />
  <xs:element name="NC1_OPORD-ALAT">
    <xs:annotation>
      <xs:documentation>Le message NC1_OPORD-ALAT sert à transmettre les instructions aux unités de l'ALAT et à informer les unités bénéficiaires du soutien que l'ALAT leur apportera.</xs:documentation>
      <xs:documentation xml:lang="en">The NC1_OPORD-ALAT message serves to transmit the instructions in the units of the ALAT(FRENCH ARMY LIGHT AVIATION) and to inform the profitable units of the support which the ALAT(FRENCH ARMY LIGHT AVIATION) will bring them.</xs:documentation>
      <xs:appinfo>
        <nc1:type xmlns:nc1="urn:fra:nc1">Message</nc1:type>
        <nc1ihm:Nom>Annexe ALAT</nc1ihm:Nom>
        <nc1ihm:Nom xml:lang="en">Army aviation annex</nc1ihm:Nom>
        <nc1:MessH xmlns:nc1="urn:fra:nc1">N/A</nc1:MessH>
        <nc1:MessADatP3 xmlns:nc1="urn:fra:nc1">N/A</nc1:MessADatP3>
        <nc1:LastNC1ModifyVersion xmlns:nc1="urn:fra:nc1">9.0.0</nc1:LastNC1ModifyVersion>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="nc1msgcom:BaseMessageType">
          <xs:sequence>
            <xs:element minOccurs="0" name="taskOrganisation">
              <xs:annotation>
                <xs:documentation>Articulation des forces.</xs:documentation>
                <xs:documentation xml:lang="en">Task organisation.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Articulation</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Task organisation</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="member" type="nc1opord:TaskOrganisationMemberSimplifiedType">
                    <xs:annotation>
                      <xs:documentation>Description de l'élément dans l’articulation de forces.</xs:documentation>
                      <xs:documentation xml:lang="en">Description of the element in the task organisation.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>Elément de l'articulation</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">Element of the task organisation</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="_1_situation">
              <xs:annotation>
                <xs:documentation>Situation.</xs:documentation>
                <xs:documentation xml:lang="en">Situation.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>1 - Situation</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">1 - Situation</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="A_enemySituation" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Situation ennemie.</xs:documentation>
                      <xs:documentation xml:lang="en">Enemy situation.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>A - Situation ennemie</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">A - Enemy situation</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="B_ownForcesSituation" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Forces amies.</xs:documentation>
                      <xs:documentation xml:lang="en">Friendly forces.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>B - Forces amies</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">B - Own forces</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="C_reinforcements">
                    <xs:annotation>
                      <xs:documentation>Renforcements et prélèvements.</xs:documentation>
                      <xs:documentation xml:lang="en">Attachments and detachments.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>C - Renforcements et prélèvements</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">C - Reinforcements and withdrawals</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="reinforcement" type="nc1reinforcement:ReinforcementType">
                          <xs:annotation>
                            <xs:documentation>Renforcement d’unité.</xs:documentation>
                            <xs:documentation xml:lang="en">Reinforcement of unit.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Renforcement</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Reinforcement</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ownUnit" type="nc1unit:UnitType">
                          <xs:annotation>
                            <xs:documentation>Unité de la force.</xs:documentation>
                            <xs:documentation xml:lang="en">Own unit.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Unité</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">unit</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="_2_mission" type="nc1msgcom:MixedAnyType">
              <xs:annotation>
                <xs:documentation>Mission de l'ALAT.</xs:documentation>
                <xs:documentation xml:lang="en">Army aviation mission.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>2 - Mission</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">2 - Mission</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="_3_execution">
              <xs:annotation>
                <xs:documentation>Exécution.</xs:documentation>
                <xs:documentation xml:lang="en">Execution.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>3 - Exécution</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">3 - Execution</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="A_intention">
                    <xs:annotation>
                      <xs:documentation>Idée de manoeuvre (intention).</xs:documentation>
                      <xs:documentation xml:lang="en">Manoeuvre idea (intent).</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>A - Idée de manoeuvre</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">A - Manoeuvre idea</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="maneuverStep0" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Temps préliminaire de la manœuvre.</xs:documentation>
                            <xs:documentation xml:lang="en">Manoeuvre preliminary stage.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Temps préliminaire</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Manoeuvre preliminary stage</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="maneuverStep1" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Temps 1 de la manœuvre.</xs:documentation>
                            <xs:documentation xml:lang="en">Manoeuvre stage 1.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Temps 1</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Stage 1</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="maneuverStep2" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Temps 2 de la manœuvre.</xs:documentation>
                            <xs:documentation xml:lang="en">Manoeuvre stage 2.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Temps 2</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Stage 2</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="maneuverStep3" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Temps 3 de la manœuvre.</xs:documentation>
                            <xs:documentation xml:lang="en">Manoeuvre stage 3.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Temps 3</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Stage 3</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="maneuverSubsequentStep" type="nc1msgcom:MixedAnyType">
                          <xs:annotation>
                            <xs:documentation>Temps ultérieur de la manœuvre (« En mesure de »).</xs:documentation>
                            <xs:documentation xml:lang="en">Manoeuvre subsequent stage.</xs:documentation>
                            <xs:appinfo>
                              <nc1ihm:Nom>Temps ultérieur</nc1ihm:Nom>
                              <nc1ihm:Nom xml:lang="en">Manoeuvre subsequent stage</nc1ihm:Nom>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="B_armyAviationMissions" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Missions confiées aux unités ALAT subordonnées et de soutien, par unité et par temps.</xs:documentation>
                      <xs:documentation xml:lang="en">Tasks assigned to subordinate ALT and support units, per unit per time.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>B - Missions des unités ALAT</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">B - Army aviation missions</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="C_coordinationMeans" type="nc1msgcom:MixedAnyType">
                    <xs:annotation>
                      <xs:documentation>Instructions de coordination.</xs:documentation>
                      <xs:documentation xml:lang="en">2D coordination means.</xs:documentation>
                      <xs:appinfo>
                        <nc1ihm:Nom>C - Instructions de coordination</nc1ihm:Nom>
                        <nc1ihm:Nom xml:lang="en">C - Coordination instructions</nc1ihm:Nom>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="_4_administrativeAndLogisticsServices" type="nc1msgcom:MixedAnyType">
              <xs:annotation>
                <xs:documentation>Administration et logistique.</xs:documentation>
                <xs:documentation xml:lang="en">Administration and logistics.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>4 - Administration et logistique</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">4 - Administration and logistics</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="_5_commandAndTransmissions" type="nc1msgcom:MixedAnyType">
              <xs:annotation>
                <xs:documentation>Commandement et transmissions.</xs:documentation>
                <xs:documentation xml:lang="en">Command and transmissions.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>5 - Commandement et transmissions</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">5 - Command and transmissions</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="acknowledgement" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Demande d’aperçu.</xs:documentation>
                <xs:documentation xml:lang="en">Acknowledgement request.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Demande d’aperçu</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Acknowledgement request</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="comment" type="nc1msgcom:CommentSectionType">
              <xs:annotation>
                <xs:documentation>Commentaire en texte libre.</xs:documentation>
                <xs:documentation xml:lang="en">free text comment.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Commentaire</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">comment</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="signature" type="nc1opord:SignatureType">
              <xs:annotation>
                <xs:documentation>Attache de signature.</xs:documentation>
                <xs:documentation xml:lang="en">Signature block.</xs:documentation>
                <xs:appinfo>
                  <nc1ihm:Nom>Signature</nc1ihm:Nom>
                  <nc1ihm:Nom xml:lang="en">Signature</nc1ihm:Nom>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>